<template>
    <div>
        <!-- 
        The search form is passed the `searchRepositories`
        function as a prop so that it can be called when
        the form is submitted.
        v-bind allows us to use variables for attributes or props.
        -->
        <search-form v-bind:searchRepositories="searchRepositories" />

        <div class="row center-content">
            <!-- 
            The v-if directive behaves exactly as a conditional is
            expected to: the element is shown only if the condition is true.
            If there is a component with a corresponding v-else, that component
            is shown when the v-if condition is false.
            -->
            <pulse-loader v-if="searching" color="#0b61fe" class="loader" />
            <ul v-else class="full-width">
                <!-- 
                v-for loops through the `repositories` array as specified,
                creating one `repository` element for each element of the array.
                Simply using `:` is a shorthand for v-bind
                -->
                <repository v-for="repository in repositories" 
                    :key="repository.id" 
                    :repository="repository"
                    :deleteRepository="deleteRepository">
                </repository>
            </ul>
        </div>
    </div>
</template>

<script>
// Import the necessary components and register them to 
// be able to use them in the template
import Repository from '@/components/Repository.vue';
import SearchForm from '@/components/SearchForm.vue';
import PulseLoader from "vue-spinner/src/PulseLoader.vue";

export default {
    name: 'repositories',
    components: {
        Repository,
        SearchForm,
        PulseLoader
    },
    data() {
        return {
            repositories: [],
            searching: false
        }
    },
    methods: {
        searchRepositories(searchTerm) {
            // Show the pulse loader
            this.searching = true;

            // Make a GET request to fetch repositories based on the search query
            this.$http.get(`https://api.github.com/search/repositories?q=${searchTerm}`)
                .then(response => {
                    // The response has automatically be parsed as json.
                    // Since Vue is highly reactive, simply setting the value
                    // of `repositories` will cause a re-render and show the new 
                    // search results.
                    this.repositories = response.data.items;
                    this.searching = false; // hide loader
                });
        },
        deleteRepository(repositoryId) {
            // Deleting a repository is also quite simple, we just need to 
            // find the repository with the given ID and splice it out of the 
            // `repositories` array. Again, because of Vue's reactivity,
            // this will cause an automatic re-render, and the deleted repository
            // will no longer be visible.
            const index = this.repositories.map(repo => repo.id).indexOf(repositoryId);
            this.repositories.splice(index, 1);
        }
    }
}
</script>

<style scoped>
    ul {
        padding-left: 0;
    }

    .full-width {
        width: 100%;
    }

    .center-content {
        justify-content: center;
    }

    .loader {
        margin-top: 30px;
    }
</style>
