<template>
    <div class="card repo-card mb-4">
        <img class="avatar-img" :src="repository.owner.avatar_url" />
        <div class="card-body">
            <!-- Using double curly braces causes interpolation -->
            <a class="card-title" :href="repository.html_url"
                target="_blank">{{repository.full_name}}</a>
            <p class="card-text">{{repository.description}}</p>
        </div>

        <!-- 
        v-on allows us to intercept DOM events, and here we can listen
        for the click event. Since `deleteRepository` was passed a prop
        to this Vue component, the task of deleting the repository
        is delegated to the parent component.
        -->
        <button v-on:click="deleteRepository(repository.id)"
                type="button" class="btn btn-outline-danger delete-button" >
            <i class="fas fa-times"></i>
        </button>
    </div>
</template>

<script>
// You'll notice that this component does not implement data()
// and does not define any methods, which means that this is a
// purely PRESENTATIONAL component and receives eveything it needs
// from its parent element. 
export default {
    name: 'repository',
    props: {
        repository: {
            id: Number,
            full_name: String,
            description: String,
            html_url: String,
            owner: {
                avatar_url: String
            }
        },
        deleteRepository: Function
    },
}
</script>

<style scoped>
.avatar-img {
    width: 60px;
    margin-left: 1em;
}

.repo-card {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.delete-button {
    margin-right: 20px;
    color: #FF0000;
}
</style>

