<template>
    <div class="row">
        <!-- 
        v-on can be used to capture any DOM event, and here
        we are specifically intercepting the form submit event 
        -->
        <form class="full-width" v-on:submit="submitSearchRequest">
            <div class="form-group mt-4">
                <label for="search-input">Find GitHub repositories</label>
                <div class="input-group mb-3">
                    <!-- 
                    We can use  v-model for two-way data binding, saving us the hassle
                    of looking up the DOM element and getting its value.
                    -->
                    <input v-model="searchTerm" class="form-control" type="text" placeholder="Enter a search term..." />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name: 'search-form',
    props: {
        searchRepositories: Function
    },
    data() {
        return {
            searchTerm: ''
        }
    },
    methods: {
        submitSearchRequest(e) {
            e.preventDefault(); // prevent page from reloading

            // `searchRepositories` was passed as prop, so we can delegate
            // the task of performing the search API call to the parent element.
            this.searchRepositories(this.searchTerm);

            // Since `searchTerm` was binded both ways, setting it to an 
            // empty string programatically will clear out the input as well.
            this.searchTerm = '';
        }
    }
}
</script>


<style scoped>
    .full-width {
        width: 100%;
    }
</style>
